{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="page-header">Lates Todos</h2>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Todo</th>
						<th scope="col">Date</th>
						<th scope="col">Action</th>
					</tr>
			  </thead>
			  <tbody>
			  {%for todo in todos %}
				<tr>
					<td>{{todo.id}}</td>
					<td>{{todo.name}}</td>
					<td>{{todo.dueDate|date('F j, Y')}}</td>
					<td>
						<a href="/symfony-todolist/web/app_dev.php/todo/details/{{todo.id}}" class="btn btn-success btn-sm">Details</a>
						<a href="/symfony-todolist/web/app_dev.php/todo/delete/{{todo.id}}" class="btn btn-danger btn-sm">Delete</a>
						<a href="/symfony-todolist/web/app_dev.php/todo/edit/{{todo.id}}" class="btn disabled" >Edit</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}